.to-do-list{
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
}
h1{
    font-size: 4rem;
}
button{
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.add-button{
    background-color: rgb(6, 170, 6);
}
.add-button:hover{
    background-color: rgb(2, 102, 2);
}
.delete-button{
    background-color: red;
}
.delete-button:hover{
    background-color: rgb(168, 5, 5);
}
.move-button{
    background-color: blue;
}
.move-button:hover{
    background-color: rgb(1, 1, 143);
}
input[type="text"]{
    font-size: 1.6rem;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.568);
}
ol{
    padding: 0;
}
li{
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.774);
    margin-bottom: 10px;
    border: 3px solid rgba(0, 0, 0, 0.253);
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.text{
    flex: 1;
}
.delete-button, .move-button{
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 10px;
}
